
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>welcome to youKaraoke</h1>
                        <h3>A Place for all your Karaoke needs!</h3>
                        <hr class="intro-divider">

            <button class="btn btn-danger" ng-click='login()'>login with google</button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>