<div class="container">
	<div class="row">
		<div class="col-lg-9" id ="top">
			Creator of this Awesome Party: {{creator.google.displayName}}
	      <div id="player" class="jumbotron" class="center-block" ng-show="isCreator()"></div>
	      <h3 ng-show="!isCreator()">Now Playing: {{current.title}}</h3>
		    <div class="panel panel-default">
	      <h4>Opinion</h4>
		    <progress>
		    	<bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
		    		{{bar.value}}%
		    	</bar>
		    </progress>
		    	<h4>Give some feedback</h4>
		    	<button type="button" class="btn btn-info" ng-click="increment(2)">Woo!</button>
		    	<button type="button" class="btn btn-danger" ng-click="increment(-2)">Boo!</button>
		    </div>
		    <div class="panel panel-default">
		      <h4>People Partying:</h4>
		      <span ng-repeat="user in users">{{user}}!  </span>
	        </div>
		</div>
		<div class="col-lg-3" id = "top" class="queue">
			<h4>Queue</h4>
      <div class="scrollable">
			<ul class="list-unstyled">
				<li class="queue-item" ng-repeat="video in queue" ng-class="video.status">
					<button type="button" class="close pull-left" ng-click="removeFromPlaylist(video)" ng-show="isCreator()">&times; </button>
					{{video.title}}
				</li>
			</ul>
    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading"><h4>Search for more additions to the playlist</h4></div>
				<form class="form-inline search" id="center" ng-submit="search(query)">
					<input type="text" class="form-control" ng-model="query"/>
					<button class="btn btn-default">Search</button>
				</form>
			</div>
			<div class="col-lg-12" id="search-results">
        <div class= "scrollable-width">
				<ul class="unstyled">
					<li class="result col-lg-3" ng-repeat="result in searchResults">
						<a ng-click="addToPlaylist(result.id.videoId)">
						<img src="http://img.youtube.com/vi/{{result.id.videoId}}/default.jpg" />
						<p>{{result.snippet.title}}</p>
						<div class="added-message bg-success" id="{{result.id.videoId}}">Added to playlist</div>
						</a>
					</li>
				</ul>
        </div>
			</div>
		</div>
	</div>
</div>
