<div class="container">
	<div class="row">
		<div class="col-lg-9">
			Creator of this Awesome Party: {{creator.google.displayName}}
	      <div id="player" class = "jumbotron" class="center-block" ng-show = "isCreator()"></div>
	      <h3 ng-show="!isCreator()">Now Playing: {{current.title}}</h3>
	      <h3>Bar</h3>
		    <progress>
		    	<bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
		    		{{bar.value}}%
		    	</bar>
		    </progress>
		    <div>
		    	<h5>Give some feedback!</h5>
		    	<button type="button" class="btn btn-danger" ng-click="increment(-2)">Boo!</button>
		    	<button type="button" class="btn btn-info" ng-click="increment(2)">Woo!</button>
		    </div>
		</div>
		<div class="col-lg-3" class="queue">
			<h4>Queue</h4>
			<ul class="list-unstyled">
				<li class="queue-item" ng-repeat="video in queue" ng-class="video.status">
					<button type="button" class="close pull-left" ng-click="removeFromPlaylist(video)" ng-show="isCreator()">&times; </button>
					{{video.title}}
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
      People Partying:
      <span ng-repeat="user in users">{{user}}!  </span>
		<div class="center-block">
			<h5>Search for more additions to the playlist</h5>
			<form class="form-inline" id="center" ng-submit="search(query)">
				<input type="text" class="form-control" ng-model="query" /> 
				<button class="btn btn-default">Search</button>
			</form>
		</div>
		<div class="col-lg-12" id="search-results">
			<ul class="unstyled">
				<li class="result col-lg-3" ng-repeat="result in searchResults">
					<a ng-click="addToPlaylist(result.id.videoId)">
					<img src="http://img.youtube.com/vi/{{result.id.videoId}}/default.jpg" />
					<p>{{result.snippet.title}}</p>
					<div class="added-message bg-success" id="{{result.id.videoId}}">Added to playlist</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>